```
└── 📁lib
    └── 📁core
        └── 📁constants
            └── app_colors.dart
            └── app_sizes.dart
            └── app_text_styles.dart
        └── 📁theme
            └── app_theme.dart
    └── 📁features
        └── 📁auth
            └── 📁screens
                └── login_screen.dart
                └── personal_data_screen.dart
                └── register_screen.dart
            └── 📁widgets
                └── auth_button.dart
                └── custom_text_field.dart
        └── 📁home
            └── 📁screens
                └── home_screen.dart
                └── product_detail_screen.dart
            └── 📁widgets
                └── category_item.dart
                └── product_card.dart
                └── search_bar.dart
        └── 📁welcome
            └── 📁screens
                └── welcome_screen.dart
            └── 📁widgets
                └── welcome_button.dart
    └── 📁shared
        └── 📁widgets
            └── custom_app_bar.dart
            └── custom_button.dart
    └── main.dart
```
